<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5440/db_livro</property>
        <property name="hibernate.connection.username">livro</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.import_files">data.sql</property>

        <!-- Configurações adicionais -->
        <mapping class="com.biblioteca.model.Livros"/>
        <mapping class="com.biblioteca.model.Usuarios"/>
    </session-factory>
</hibernate-configuration>
