.branco
{
    color: lightseagreen;
    font-style: normal;
}
 
.tinto
{
    color: purple;
}
 
.brancos
{
    font-style: italic;
}
 
.tintos
{
 
}
#sauvignon
{
    color: brown;
    font-style: italic;
}